.ticket h1 {
    width: 150px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #247A6B;
}

.ticket h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
}

.ticket div {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;

    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
}