@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
:root{
    position: relative;
   
}

.header {
    width: 100%;
    height: 70px;
    background-color: #C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: #E8833A;

    position: fixed;
    top: 0;
}

.centerPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0 120px 0;
    color: #293845;

    overflow-y: scroll;
    overflow-x: hidden;
}

.centerAling {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerPage h1{
    font-size: 24px;
    color: #293845;
    margin: 40px 0;
}

.home ul {
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home ul li, .poster {
    min-width: max-content;
    min-height: max-content;
    padding: 8px 6px;
    margin: 5px 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.header button {
    width: 40px;
    height: 26px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8833A;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: fixed;
    left: 10px;

    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.home ul img {
    width: 130px;
    height: 194px;
    object-fit: cover;
    cursor: pointer;
}

